<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
        <style>
            body{
                font-family: Arial, sans-serif;
                background-color: #d4ffea;
            }
        </style>
    </head>
    <body>
        <h1>My Hobbies include: </h1>
            <h2>1. Teaching </h2>
            <h2>2. Reading Self Help Books</h2>
            <h3>3. Listening Music</h3>
            
        <a href="/">
            <button>Go to Homepage</button>
          </a> 
        <a href="/profile">   
            <button>My Profile</button>
        </a>
    </body>
</html>