<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
        <style>
            body{
                font-family: Arial, sans-serif;
                background-color: #d4ffea;
            }
        </style>
    </head>
    <body>
        <h1>My Name is Ashutosh Sahu. Welcome to My HomePage.</h1>
        <a href="/profile">
            <button>Go to Profile</button>
          </a> 
        <a href="/hobbies">   
            <button>My Hobbies</button>
        </a>
    </body>
</html>