<!DOCTYPE html>
<html>
    <head>
        <title>Profile</title>
        <style>
            body{
                font-family: Arial, sans-serif;
                background-color: #d4ffea;
            }
        </style>
    </head>
    <body>
        <h1>I work in Informatica as a Software Engineer in the Global Customer Support. Have proven skills on debugging
            customer issues and replicating it in in-house labs to verify the same.
            Handling Escalation between Customer and R&D team and setting the correct expectation.
        </h1>
        <a href="/">
            <button>Go to Homepage</button>
          </a> 
        <a href="/hobbies">   
            <button>My Hobbies</button>
        </a>
    </body>
</html>